* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #706f6f;
}

/* NAVIGATION COMPONENT */
nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  z-index: 5;
}

.top-nav {
  width: 100%;
  height: 94px;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}

.top-nav-container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-name,
.fa-dog,
.fa-heart,
.fa-bars,
.fa-circle-user {
  color: #ff385c;
}

.brand-name {
  font-weight: 700;
  font-size: 20px;
}

.fa-dog {
  margin-right: 30px;
  padding-left: 10px;
  transform: scale(3);
}

.accent::after {
  content: "";
  display: block;
  width: 110px;
  height: 10px;
  background: #ff385d73;
  margin-top: -13px;
  margin-left: 255px;
}

.user {
  border: 1px solid #dddddd;
  padding: 12px 14px;
  border-radius: 50px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fa-bars {
  transform: scale(1);
}

.fa-circle-user {
  transform: scale(1.6);
}

.bottom-nav {
  width: 100%;
  padding: 15px 0;
}

.bottom-nav-svg-container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bottom-nav-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav-svg:hover,
.footer-left p,
.footer-right p {
  cursor: pointer;
}

.bottom-nav-svg p {
  margin-top: 6px;
  margin-bottom: 0;
}

.bottom-nav i {
  transform: scale(1.2);
}

.bottom-nav i,
.bottom-nav p {
  color: rgb(143, 142, 142);
}

.bottom-nav p {
  font-size: 11px;
}

/* MAIN COMPONENT */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 220px;
  flex-wrap: wrap;
  gap: 40px;
  overflow-x: auto;
  width: 90%;
}

.card-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.card {
  max-width: 500px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
}

.fa-heart {
  position: absolute;
  top: 25px;
  right: 25px;
  transform: scale(2);
}

.fa-regular.fa-heart {
  color: white;
}

.card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 9px;
}

.dog-btn {
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 24px;
  border: none;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}

.dog-btn:hover {
  transform: translateY(2px);
}

.dog-svg {
  width: 50px;
  height: 50px;
}

/* FOOTER COMPONENT */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  border-top: 1px solid #dddddd;
}

.footer-container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 500px;
}

.footer-right {
  width: 180px;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 795px) {
  .footer {
    height: 38px;
  }
  .footer-left {
    width: 300px;
  }
  .footer-right {
    width: 100px;
  }
  .footer-left p,
  .footer-right p {
    font-size: 10px;
  }
  .nav-text {
    display: none;
  }
  .dog-svg,
  .svg-none {
    display: none;
  }
}

@media (max-width: 490px) {
  .footer-left {
    width: 100%;
  }
  .footer-right {
    display: none;
  }
}
